@font-face {
  font-family: 'Cooper';
  src: url('Assets/Fonts/cooperl.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.container1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4%;
  transform: translateY(-2%);
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.container2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 4%;
  transform: translateY(-2%);
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Libre Baskerville', Arial, serif;
  font-size: 8vmax;
  font-weight: 700;
  color: rgb(25, 25, 25);
  text-shadow: 0px 1px 5px rgba(20, 20, 20, 0.75);
  pointer-events: all;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards, easeUp 1.5s ease-out forwards, wobble 3s ease-in-out 2s infinite;
}

h2 {
  margin: 0;
  text-align: center;
  font-family: 'Cooper', Arial, serif;
  font-size: 8vmax;
  font-weight: 400;
  color: rgb(25, 25, 25);
  text-shadow: 0px 1px 5px rgba(20, 20, 20, 0.75);
  pointer-events: all;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards, easeUp 1.5s ease-out forwards, bob 3s ease-in-out 1.5s infinite;
}

h3 {
  margin: 0;
  visibility: hidden;
  text-align: center;
  font-family: 'Cooper', Arial, serif;
  font-size: 8vmax;
  font-weight: 400;
}

h4 {
  margin: 0;
  visibility: hidden;
  text-align: center;
  font-family: 'Libre Baskerville', Arial, serif;
  font-size: 8vmax;
  font-weight: 700;
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;

  z-index: 1;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0s forwards;
    
  /*display: block;*/
  overflow: hidden;
}

.container3 {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(38vh);
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
}

button {
  position: absolute;
  margin: 0;
  padding: 4vmin;
  border: 1vmin double rgba(20, 20, 20, 1);
  border-radius: 100px;
  box-shadow: 0px 5px 10px rgba(20, 20, 20, 0.75);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;

  pointer-events: all;
  z-index: 2;

  transition: box-shadow 0.2s ease, transform 0.2s ease;
  animation: fadeIn 1.5s ease-in-out forwards, easeUp 1.5s ease-out;
}

@media (max-aspect-ratio: 1/1) {
  button {
    padding: 4vmax;
    border: 1vmax double rgba(20, 20, 20, 1);
  }
}

button:hover {
  box-shadow: 0px 4px 10px rgba(20, 20, 20, 0.55);
  transform: scale(1.05);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

button:active {
  box-shadow: 0px 0px 15px rgba(20, 20, 20, 1);
  transform: translateY(4px) scale(0.95);
  transition: box-shadow 0.05s ease, transform 0.05s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes easeUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes wobble {
 0% {transform: translateY(0px); }
 50% {transform: translateY(10px); }
 100% {transform: translateY(0px); }
}

@keyframes bob {
 0% {transform: translateY(0px); }
 50% {transform: translateY(10px); }
 100% {transform: translateY(0px); }
}